@font-face {
  font-family: "iconfont"; /* Project id 4898766 */
  src: url('iconfont.woff2?t=1749890835820') format('woff2'),
       url('iconfont.woff?t=1749890835820') format('woff'),
       url('iconfont.ttf?t=1749890835820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyiji:before {
  content: "\e691";
}

.icon-xiayiji:before {
  content: "\e603";
}

.icon-shangyi:before {
  content: "\e62b";
}

.icon-xiayi:before {
  content: "\e639";
}

.icon-lishijilu:before {
  content: "\e63f";
}

.icon-xiugai:before {
  content: "\e601";
}

.icon-quxiao:before {
  content: "\e64f";
}

.icon-queding:before {
  content: "\e714";
}

.icon-daochuexl:before {
  content: "\e667";
}

.icon-daochutxt:before {
  content: "\e6d4";
}

.icon-shouhangsuojin:before {
  content: "\e602";
}

.icon-shanchukonghang:before {
  content: "\e705";
}

.icon-jianqie:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua_huaban1:before {
  content: "\e673";
}

.icon-xinjian:before {
  content: "\e67c";
}

.icon-jiaru:before {
  content: "\e7c4";
}

.icon-txt:before {
  content: "\e60d";
}

.icon-Epub:before {
  content: "\e61d";
}

